{% extends 'base.html' %}}
{% block content %}}
{% block title %}Welcome{% endblock %}
{% load static %}
<h1>Welcome to the Meeting Planner!</h1>
<p>
    This is the demo application for the course by Singh
    <em>Django: Getting Started</em>
    on <a href="https://www.pluralsight.com">
    Pluralsight</a>.
</p>
<img alt="Winter is here" src="{% static 'website/got.jpg' %}" width="300px">
<h2>
    <ol>
        {% for meeting in meetings%}
        <li>
            <a href="{% url 'details' meeting.id %}">{{meeting.title}}</a>


        </li>
        {% endfor %}
    </ol>
</h2>
<a href="{% url 'room_list' %}">Rooms List</a>
<a href="{% url 'new' %}">Add new Meeting</a>
{% endblock %}}